.header{
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
}
.header .inner-logo img {
    max-height: 50px;
    max-width: 100%;
}
.header .inner-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.header .inner-menu > ul > li {
    margin-left: 20px;
}
.footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.product-item{
    /* background-color: aqua; */
}
.product-item .inner-image{
    position: relative;
}
.product-item .inner-featured{
    position: absolute;
    top: 0;
    right: 0;
    background: green;
    border-radius: 8px;
    padding: 3px 6px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.inner-image img{
    width: 150px;
    height: 150px;
}
/* sub-menu */
.sub-menu{
    position: relative;
    z-index: 999;
}
.sub-menu ul{
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #eae9e9;
    min-width: 180px;
    display: none;
}
.sub-menu ul li{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.sub-menu:hover > ul{
    display: block;
}   
.sub-menu ul li{
    position: relative;
}
.sub-menu ul li ul{
    right: 100%;
    top: 0;
}
.sub-menu ul li:hover > ul{
    display: block;
}
/* detail-product */
.product-detail .inner-thumb img{
    width: 100%;
    height: auto;
}
/* show-alert */
[show-alert] {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
}
[show-alert].alert-hidden{
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes alert-hidden {
    from{
        right: 15px;
    }
    to{
        right: -100%;
        display: none;
    }
}
[show-alert] [close-alert] {
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}

.strike-through {
    text-decoration: line-through;
    color: #9f9f9f;
}

.inner-discount {
    color: red;
}

.form-search-container {
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid rgb(221, 221, 227);
    padding-left: 0;
    padding-right: 0;
}

.form-search-container input {
    border: none;
}

.form-search-container input:focus {
    outline: 0;
    box-shadow: none;
}

.form-search-container button {
    background-color: transparent;
    color: rgb(128, 128, 137);
    display: flex;
    border-radius: 0px;
    border-bottom: none;
    border-right: none;
    border-top: none;
    border-left: 2px solid rgb(221, 221, 227);
}

.form-search-container button i {
    line-height: inherit;
}

.header-container {
    padding-left: 15px;
    padding-right: 15px;
}

#progress-bar {
    display: table;
    width: 100%;
    margin: 0;
    padding: 15px 15px 0;
    table-layout: fixed;
    counter-reset: step; }
    #progress-bar li {
      list-style-type: none;
      display: table-cell;
      width: 30%;
      font-size: 16px;
      position: relative;
      text-align: center; }
      #progress-bar li:before {
        width: 50px;
        height: 50px;
        color: #212121;
        content: counter(step);
        counter-increment: step;
        line-height: 50px;
        font-size: 18px;
        border: 1px solid #efefef;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: #ffffff; }
      #progress-bar li:after {
        width: 100%;
        height: 10px;
        content: '';
        position: absolute;
        background-color: #e5e5e5;
        top: 25px;
        left: -50%;
        z-index: -1; }
      #progress-bar li:first-child:after {
        content: none; }
      #progress-bar li.step-done {
        color: #007bff; }
        #progress-bar li.step-done:before {
          border-color: #007bff;
          background-color: #007bff;
          color: #fff;
          content: "✔";
          font-family: "FontAwesome"; }
        #progress-bar li.step-done + li:after {
          background-color: #007bff; }
      #progress-bar li.step-active {
        color: #007bff; }
        #progress-bar li.step-active:before {
          border-color: #007bff;
          color: #007bff;
          font-weight: 700; }

.footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
}

.main-container {
    /* display: flex; */
}